Source: readsb
Section: net
Priority: optional
Maintainer: Matthias Wirth <matthias.wirth@gmail.com>
Build-Depends: debhelper(>=9), libusb-1.0-0-dev, libncurses-dev, zlib1g-dev, zlib1g, pkg-config, libzstd-dev, libzstd1
Build-Depends-Indep: librtlsdr0, librtlsdr-dev
Standards-Version: 4.4.0.1
Homepage: https://github.com/wiedehopf/readsb
Vcs-Git: https://github.com/wiedehopf/readsb.git

Package: readsb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser
Description: ADS-B Receiver
 This is a detached fork of Mictronics readsb
